@tailwind base;
@tailwind components;
@tailwind utilities;

.hide-overflow::-webkit-scrollbar {
  appearance: none;
  height: 2px;
}

.hide-overflow::-webkit-scrollbar-thumb {
  background: #3f4756;
  border-radius: 20px;
}
